services:
  api-product:
    image: jeacd/sys-dist:produtor
    deploy:
      replicas: 2
      placement:
        constraints: [node.role==worker]
    ports:
      - "8080:8080"

    environment:
      SPRING_RABBITMQ_HOST: 10.10.136.10
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: laced
      SPRING_RABBITMQ_PASSWORD: l4bl4c3d
      SPRING_RABBITMQ_VHOST: sd-projeto
      SPRING_RABBITMQ_EXCHANGE: produto.exchange
      SPRING_RABBITMQ_QUEUE: produto.queue 
      SPRING_RABBITMQ_ROUTINGKEY: produto.routingkey
      SERVER_PORT: 8080
      SPRING_REDIS_HOST: 10.10.136.10
      SPRING_REDIS_PORT: 6379
  api-consumer:
    image: jeacd/sys-dist:consumidor
    deploy:
      replicas: 2
      placement:
        constraints: [node.role==worker]
    ports:
      - "9090:9090"

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://10.10.136.16:5432/produtos_ms
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_RABBITMQ_HOST: 10.10.136.10
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: laced
      SPRING_RABBITMQ_PASSWORD: l4bl4c3d
      SPRING_RABBITMQ_VHOST: sd-projeto
      SERVER_PORT: 9090
      SPRING_RABBITMQ_QUEUE: produto.queue
      SPRING_REDIS_HOST: 10.10.136.10
      SPRING_REDIS_PORT: 6379
  front-produtos:
    image: jeacd/sys-dist:front-produtos
    deploy:
      placement:
        constraints: [node.role==manager]
    
    ports:
      - "3000:80"
    environment:
      - PROD_HOST=http://api-product:8080
      - CONS_HOST=http://api-consumer:9090
      